{% extends "index_base.html" %}

{% block nav_box %}
    <ul class="nav_box">
        <li class="nav_1"><a class="nav_but" href="logout">退出</a></li>
        <li class="nav_1"><a class="nav_but" href="/login">论坛</a></li>
        <li class="nav_1"><a class="nav_but" href="">首页</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="content_box">

        <ul class="content_box_top">
            <li>
                <a href="find_no_select_course"> <img src="../static/images/icon11.png"/></a>
                <h3 class="obj_title">选课</h3>
            </li>
            <li>
                <a href="find_select_course"><img src="../static/images/icon21.png"/></a>
                <h3 class="obj_title">课程查询</h3>
            </li>
        </ul>


    </div>

    <div class="inf">
        <h3>未选课程信息</h3>
        {% csrf_token %}
        <div class="guodong">
            <table border="1">
                <tr>
                    <td>课&nbsp&nbsp程&nbsp&nbsp编&nbsp&nbsp号</td>
                    <td>课&nbsp&nbsp程&nbsp&nbsp名&nbsp&nbsp称</td>
                    <td>授&nbsp&nbsp课&nbsp&nbsp教&nbsp&nbsp师</td>
                    <td>操&nbsp&nbsp&nbsp作</td>
                </tr>
                {# {% for course in course_inform_check %} #}
                {% for info in all_c_info %}
                    {% if info.cid not in all_cid %}
                        <tr>
                            <td>{{ info.cid }}</td>
                            <td>{{ info.cname }}</td>
                            <td>{{ info.tname }}</td>
                            <td>
                                <a href="select_course?cid={{ info.cid }}">选课</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}