{% extends "teacher_base.html" %}

{% block info %}
    <div class="inf">
        <h3>无成绩学生信息表</h3>
        {% csrf_token %}
        <div class="guodong">
            <table class="table table-hover">
                <tr class="table-primary">
                    <td>课&nbsp&nbsp程&nbsp&nbsp编&nbsp&nbsp号</td>
                    <td>课&nbsp&nbsp程&nbsp&nbsp名&nbsp&nbsp称</td>
                    <td>学&nbsp&nbsp生&nbsp&nbsp学&nbsp&nbsp号</td>
                    <td>学&nbsp&nbsp生&nbsp&nbsp姓&nbsp&nbsp名</td>
                    <td>课&nbsp&nbsp程&nbsp&nbsp学&nbsp&nbsp分</td>
                    <td>成&nbsp&nbsp&nbsp绩</td>
                </tr>
                {# {% for course in course_inform_check %} #}
                {% for info in all_info %}
                    <tr>
                        <td>{{ info.course_info.cid }}</td>
                        <td>{{ info.course_info.name }}</td>
                        <td>{{ info.teacher_info.name }}</td>
                        <td>
                            {% if info.grade == '-1' %}
                                未给成绩
                            {% else %}
                                {{ info.grade }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-danger" href="del_select_course?sid={{ info.course_info.cid }}">添加成绩</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}