{% extends "index_base.html" %}

{% block nav_box %}
    <ul class="nav_box">
        <li class="nav_1"><a class="nav_but" href="logout">退出</a></li>
        <li class="nav_1"><a class="nav_but">{{ sid }}</a></li>
        <li class="nav_1"><a class="nav_but" href="">首页</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="content_box">

        <ul class="content_box_top">
            <li>
                <a href="add_teach_course"> <img src="../static/images/icon11.png"/></a>
                <h3 class="obj_title">添加课程</h3>
            </li>
            <li>
                <a href="add_teach_student"> <img src="../static/images/icon21.png"/></a>
                <h3 class="obj_title">添加学生</h3>
            </li>
            <li>
                <a href="find_teach_course"><img src="../static/images/icon31.png"/></a>
                <h3 class="obj_title">课程查询</h3>
            </li>
            <li>
                <a href="find_teach_student"> <img src="../static/images/icon41.png"/></a>
                <h3 class="obj_title">查找学生</h3>
            </li>
        </ul>


    </div>


{% endblock %}